Enter your email address twice in the form below. A mail will be sent to you immediately with an access token.

<p>This page is a DoorMat placeholder, to override it create app/views/door_mat/password_less_session/new.html.erb in your application</p>

<%= form_for(@access_token, url: @access_token.form_submit_path(controller)) do |f| %>
    <%= render 'door_mat/helpers/errors_if_any', {object: @access_token} %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :identifier %><br>
      <%= f.text_field :identifier %>
    </div>
    <div class="field">
      <%= f.label :confirm_identifier %><br>
      <%= f.password_field :confirm_identifier %>
    </div>

    <div class="field">
      <%= f.label :is_this_a_public_computer? %>
      <%= f.check_box :is_public %>
    </div>
    <div class="field">
      <%= f.label :remember_me? %>
      <%= f.check_box :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit t("door_mat.password_less_session.submit_button") %>
    </div>
<% end %>
